mat-toolbar {
  .logo {
    height: 40px;
    width: auto;
  }
}

#main-container {

  mat-toolbar {
    position: fixed;
    z-index: 999;
    height: 64px;
    max-height: 64px;
    min-height: 64px;

    .mat-toolbar-row {
      height: 64px;
    }
  }

  #main-scroll {
    padding-top: 64px;
    overflow: scroll;
  }

  #main-content {
    padding: 24px 24px 0 24px;
  }
}

footer {
  height: 30px;
  text-align: center;
  color: rgba(0, 0, 0, .58);
  margin-bottom: 30px;

  a {
    font-size: 12px;
    color: inherit;

    &:visited {
      color: inherit;
    }
  }
}

