<div fxFill fxLayout="column">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span style="flex: 1 1 auto;">EU Elections</span>
      <button mat-icon-button color="accent" matTooltip="Share">
        <mat-icon>share</mat-icon>
      </button>
      <button mat-icon-button color="accent" matTooltip="About the project">
        <mat-icon>favorite</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div fxFlex>
    Work in progress
  </div>

  <footer>
    A project by <a href="https://andreantonacci.com">Andrea Domenico Antonacci</a> -
    Supported by <a href="https://marcodelucchi.com">Marco De Lucchi.</a>
  </footer>
</div>
