<div id="main-container">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span style="flex: 1 1 auto;" fxLayoutAlign="start center">
        <img class="logo" src="assets/logo.png" alt="Election Stats">
      </span>
      <button mat-button color="accent" routerLink="/about">
        <span>About the project</span>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div id="main-scroll">
    <div id="main-content" fxLayout="column" fxLayoutAlign="start stretch" style="overflow: scroll">
      <router-outlet #o="outlet"></router-outlet>
      <div fxFlex></div>
      <footer>
        <span>made with ❤ from Tilburg</span>
        <br>
        <a routerLink="/terms">Terms</a> - <a routerLink="/privacy">Privacy policy</a>
      </footer>
    </div>
  </div>
</div>
