<div fxFill fxLayout="column">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span style="flex: 1 1 auto;">Elections Stats</span>
      <button mat-icon-button color="accent" matTooltip="Share">
        <mat-icon>share</mat-icon>
      </button>
      <button mat-icon-button color="accent" matTooltip="About the project">
        <mat-icon>favorite</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div fxFlex class="main-container" fxLayout="column" fxLayoutGap="24px">

    <div fxLayout="row" fxLayoutGap="24px">
      <mat-card fxFlex fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex>
          <mat-icon matTooltip="Tweet">public</mat-icon>
        </div>
        <div>123.000</div>
      </mat-card>

      <mat-card fxFlex fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex>
          <mat-icon matTooltip="Ultimo aggiornamento">refresh</mat-icon>
        </div>
        <div>15/05/19 20:00</div>
      </mat-card>

      <mat-card fxFlex fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex>
          <mat-icon matTooltip="Countdown">date_range</mat-icon>
        </div>
        <div>- 14 days</div>
      </mat-card>
    </div>

    <mat-card fxLayout="column">
      <mat-card-header>
        <mat-card-title># of tweets per country</mat-card-title>
      </mat-card-header>
      <mat-card-content fxFlex>
        <app-chart-most-active-countries [data]="mostActiveContriesData" fxFlex></app-chart-most-active-countries>
      </mat-card-content>
    </mat-card>
  </div>

  <footer>made with ❤️from Tilburg</footer>
</div>
