<div fxFill fxLayout="column">

  <div fxFill class="about-big-div" fxLayout="row" fxLayoutGap="50px">
    <div class="about-title" fxFlex="50" fxLayout="column" fxLayoutAlign="start right">
      <div>
        <img src="assets/logo.png" height="80px" alt="">
      </div>
      <div fxFlex fxLayout="column" fxLayoutAlign="center right">
        <p>
          Explore Twitter data <br>
          on the current <br>
          European Elections <br>
          in real time.
        </p>
      </div>
    </div>
    <div class="about-img" fxFlex="50"></div>
  </div>

  <div fxFill id="about-text-div" class="about-text-div" fxLayout="column">
    <h1>About the project</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt arcu risus, eget sagittis nunc hendrerit eu. Nullam porta
      tempus augue, id lacinia sapien pellentesque ut. Suspendisse consectetur metus at lobortis ultricies. Ut sed ex neque. Cras sit amet
      tellus interdum, condimentum magna ac, mollis nisi. Curabitur et sagittis ex. Praesent orci ex, fringilla eu ultrices a, venenatis nec
      urna. Vivamus ornare facilisis mauris sed blandit. Maecenas a cursus leo, eu consequat magna. In hac habitasse platea dictumst.
      Pellentesque venenatis, velit nec blandit pellentesque, massa arcu faucibus nisl, non sodales erat dui et quam. Ut hendrerit
      consectetur eleifend. Integer scelerisque efficitur neque nec fringilla.</p>

    <h1>The Founders</h1>
    <p>Pellentesque porta nunc et mattis tempor. Donec fringilla condimentum urna et rhoncus. Suspendisse tincidunt nulla quis purus
      tincidunt, et faucibus risus imperdiet. Vivamus consectetur lacus eget cursus volutpat. Interdum et malesuada fames ac ante ipsum
      primis in faucibus. Ut orci nisi, sollicitudin ut arcu at, gravida rhoncus lacus. Cras dapibus quis nisl quis lacinia. Praesent tellus
      ex, molestie in eleifend sit amet, lobortis sed neque. Maecenas quis dictum neque, sed cursus metus. Ut accumsan ullamcorper odio,
      vitae tristique diam rutrum at. Nulla blandit nisl et ultricies viverra. Ut vitae laoreet orci. Aliquam tincidunt vehicula ex, et
      venenatis arcu fermentum egestas. Integer nulla mi, egestas ac finibus sed, faucibus nec ligula. Nullam est mi, consectetur in nulla
      quis, pulvinar posuere sapien.</p>

    <h1>Special thanks to...</h1>
    <p>Fusce rhoncus non risus ac semper. Suspendisse suscipit nisl sodales aliquam ullamcorper. Donec sollicitudin dignissim ligula, id
      dignissim quam vulputate vitae. Curabitur feugiat volutpat turpis in mollis. Suspendisse porta urna nisi. Quisque tempor luctus erat,
      ac aliquet est laoreet ut. Ut rhoncus convallis mi a scelerisque. Phasellus a risus vitae ligula rhoncus eleifend. Donec consequat
      tellus ac erat semper feugiat. Maecenas eget blandit arcu. Proin et vehicula lorem.</p>
  </div>
</div>
