$b-img: url('../../../assets/img/about.png');
@import "~src/app/core/scss/partial/material-theme";

.about-big-div {
  padding: 80px 50px;
  background: mat-color($app-primary);
  color: mat-color($app-accent);
  text-align: end;

  p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 30px;
  }
}

.about-img {
  background-image: $b-img;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #003399;
}

.about-text-div {
  background-color: rgb(245, 245, 245);
  padding: 50px;

  p {
    margin-bottom: 3rem;
  }

  button {
    margin-bottom: 40px;
  }
}

a {
  text-decoration: underline;
  color: mat-color($app-primary);
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
