#europe-map-score {
  display: block;
  margin: 0 auto;
  max-height: 500px;
  max-width: 500px;
}

.ocean {
  fill: none;
}

.no-eu-states {
  stroke: #FFFFFF;
  stroke-width: 0.5px;
  fill: silver;
}

.state {
  stroke: #FFFFFF;
  stroke-width: 0.5px;
  fill: silver;
}

.level-1 {
  fill: rgba(9, 155, 148, 1) !important;
}

.level-2 {
  fill: rgba(27, 146, 234, 1) !important;
}

.level-3 {
  fill: rgba(50, 135, 217, 1) !important;
}

.level-4 {
  fill: rgba(75, 123, 197, 1) !important;
}

.level-5 {
  fill: rgba(103, 110, 176, 1) !important;
}

.level-6 {
  fill: rgba(132, 97, 155, 1) !important;
}

.level-7 {
  fill: rgba(159, 83, 133, 1) !important;
}

.level-8 {
  fill: rgba(185, 71, 114, 1) !important;
}

.level-9 {
  fill: rgba(208, 60, 96, 1) !important;
}

.level-10 {
  fill: rgba(226, 52, 82, 1) !important;
}

.legend {
  width: 150px;

  font-size: 10px;
  color: rgba(0, 0, 0, 0.5);
  background: white;

  .legend-color {
    width: 100%;
    height: 10px;
    background-image: linear-gradient(to right, rgba(27, 146, 234, 1), rgba(226, 52, 82, 1));
  }

  .legend-left {
    float: left;
  }

  .legend-right {
    float: right;
  }

}
