<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span style="flex: 1 1 auto;">EU Elections</span>
    <button mat-icon-button color="accent" matTooltip="Share">
      <mat-icon>share</mat-icon>
    </button>
    <button mat-icon-button color="accent" matTooltip="About the project">
      <mat-icon>favorite</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div>
  cose
</div>

<button mat-button>ciao</button>
<button mat-button color="primary">Primary</button>
<button mat-button color="accent">Accent</button>
<button mat-button color="warn">Warn</button>
<footer>
  A project by <a href="https://andreantonacci.com">Andrea Domenico Antonacci</a> -
  Supported by <a href="https://marcodelucchi.com">Marco De Lucchi.</a>
</footer>

