// Color Tool https://material.io/tools/color/#!/?view.left=1&view.right=1&primary.color=003399&secondary.color=f5d547&primary.text.color=ffffff
// Palette generator http://mcg.mbitson.com/#!?primary=%23003399&secondary=%23f5d547&themename=materialtheme
@import '~@angular/material/theming';

@include mat-core();

//$app-typography: mat-typography-config(
//  $font-family: 'Ubuntu, sans-serif'
//);
//@include mat-core($app-typography);

$mat-eu-blue: (
  50 : #E0E7F3,
  100 : #B3C2E0,
  200 : #8099CC,
  300 : #4D70B8,
  400 : #2652A8,
  500 : #003399,
  600 : #002E91,
  700 : #002786,
  800 : #00207C,
  900 : #00146B,
  A100 : #9AA5FF,
  A200 : #6778FF,
  A400 : #344AFF,
  A700 : #1A33FF,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #FFFFFF,
    400 : #FFFFFF,
    500 : #FFFFFF,
    600 : #FFFFFF,
    700 : #FFFFFF,
    800 : #FFFFFF,
    900 : #FFFFFF,
    A100 : #000000,
    A200 : #000000,
    A400 : #FFFFFF,
    A700 : #FFFFFF,
  )
);

$mat-eu-yellow: (
  50 : #FEFAE9,
  100 : #FCF2C8,
  200 : #FAEAA3,
  300 : #F8E27E,
  400 : #F7DB63,
  500 : #F5D547,
  600 : #F4D040,
  700 : #F2CA37,
  800 : #F0C42F,
  900 : #EEBA20,
  A100 : #FFFFFF,
  A200 : #FFFBF1,
  A400 : #FFEEBE,
  A700 : #FFE7A5,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$app-primary: mat-palette($mat-eu-blue);
$app-accent: mat-palette($mat-eu-yellow);
$app-warn: mat-palette($mat-deep-orange);
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);
$app-foreground: map-get($app-theme, foreground);
$app-background: map-get($app-theme, background);
$light-dividers: rgba(white, 0.12);

@include angular-material-theme($app-theme);

.color-primary {
  color: mat-color($app-primary);
}

.color-accent {
  color: mat-color($app-accent);
}

.background-primary {
  background: mat-color($app-primary);
}

.background-accent {
  background: mat-color($app-accent);
}
