@import "~src/app/core/scss/partial/material-theme";

#dashboard-container {
  .stats-card {
    min-height: 60px;
  }

  .mat-card {
    box-shadow: none;

    border: 1px solid rgba(0, 0, 0, .12);

    mat-icon {
      color: mat-color($app-primary);

      svg {
        fill: mat-color($app-primary);
      }

      svg path {
        fill: mat-color($app-primary);
      }
    }
  }
}
