<div id="dashboard-container" fxLayout="column" fxLayoutGap="24px" fxLayoutAlign="start stretch">

  <div>
    <mat-card>
      Hi there! Thank you for passing by. This dashboard does not update anymore, but you can find some insights and an ex-post analysis <a href="https://github.com/andreantonacci/eu2019">here</a>.
    </mat-card>
  </div>

  <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="24px" fxLayoutAlign="start stretch">
    <mat-card class="stats-card" fxFlex.gt-sm fxLayout="row" fxLayoutAlign="center center">
      <mat-icon svgIcon="twitter"></mat-icon>
      <span fxFlex>&nbsp; Analyzed tweets</span>
      <span>{{totalTweets | number}}</span>
    </mat-card>

    <mat-card class="stats-card" fxFlex.gt-sm fxLayout="row" fxLayoutAlign="center center">
      <mat-icon>refresh</mat-icon>
      <span fxFlex>&nbsp; Last update</span>
      <span>{{lastUpdate | date}}</span>
    </mat-card>

    <mat-card class="stats-card" fxFlex.gt-sm fxLayout="row" fxLayoutAlign="center center">
      <mat-icon>date_range</mat-icon>
      <span fxFlex>&nbsp; Online since </span>
      <span>{{onlineSince | date}}</span>
    </mat-card>
  </div>

  <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="24px" fxLayoutAlign="start stretch">
    <app-chart-political-orientation-per-country fxFlex></app-chart-political-orientation-per-country>
  </div>

  <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="24px" fxLayoutAlign="start stretch">
    <app-tweets-per-topic fxFlex></app-tweets-per-topic>
  </div>

  <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="24px" fxLayoutAlign="start stretch">
    <app-chart-parties-per-country fxFlex></app-chart-parties-per-country>
  </div>

  <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="24px" fxLayoutAlign="start stretch">
    <mat-card fxFlex.gt-sm="50" fxLayout="column">
      <mat-card-header>
        <mat-card-title>Tweets per language</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-chart-most-active-languages [data]="mostActiveLanguagesData"></app-chart-most-active-languages>
      </mat-card-content>
    </mat-card>
    <mat-card fxFlex.gt-sm="50" fxLayout="column">
      <mat-card-header>
        <mat-card-title>Tweets per political group</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-chart-most-active-parties [data]="mostActivePartiesData"></app-chart-most-active-parties>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex></div>
</div>

