<div id="dashboard-container" fxLayout="column" fxLayoutGap="24px" fxLayoutAlign="start stretch">

  <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="24px" fxLayoutAlign="start stretch">
    <mat-card class="stats-card" fxFlex.gt-sm fxLayout="row" fxLayoutAlign="center center">
      <mat-icon svgIcon="twitter"></mat-icon>
      <span fxFlex>&nbsp; Analyzed tweets</span>
      <span>{{totalTweets | number}}</span>
    </mat-card>

    <mat-card class="stats-card" fxFlex.gt-sm fxLayout="row" fxLayoutAlign="center center">
      <mat-icon>refresh</mat-icon>
      <span fxFlex>&nbsp; Last update</span>
      <span>{{lastUpdate | date:'short'}}</span>
    </mat-card>

    <mat-card class="stats-card" fxFlex.gt-sm fxLayout="row" fxLayoutAlign="center center">
      <mat-icon>date_range</mat-icon>
      <span fxFlex>&nbsp; Elections</span>
      <span>- 5 days</span>
    </mat-card>
  </div>

  <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="24px" fxLayoutAlign="start stretch">
    <app-chart-map fxFlex></app-chart-map>
  </div>

  <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="24px" fxLayoutAlign="start stretch">
    <app-chart-parties fxFlex></app-chart-parties>
  </div>

  <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="24px" fxLayoutAlign="start stretch">
    <mat-card fxFlex.gt-sm="50" fxLayout="column">
      <mat-card-header>
        <mat-card-title>Tweets per language</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-chart-most-active-languages [data]="mostActiveLanguagesData"></app-chart-most-active-languages>
      </mat-card-content>
    </mat-card>
    <mat-card fxFlex.gt-sm="50" fxLayout="column">
      <mat-card-header>
        <mat-card-title>Tweets per political group</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-chart-most-active-parties [data]="mostActivePartiesData"></app-chart-most-active-parties>
      </mat-card-content>
    </mat-card>
    <!--    <mat-card fxFlex.gt-sm="50" fxLayout="column" style="min-height: 400px;">-->
    <!--      <mat-card-header>-->
    <!--        <mat-card-title>Coming soon...</mat-card-title>-->
    <!--      </mat-card-header>-->
    <!--      <mat-card-content fxFlex fxLayoutAlign="center center" style="padding: 24px;">-->
    <!--        <p style="font-size: 24px; text-align: center">-->
    <!--          Hey there! We are working hard on more charts and insights. <br>-->
    <!--          In the meanwhile, learn more about this project <a routerLink="/about">here</a>!-->
    <!--        </p>-->
    <!--      </mat-card-content>-->
    <!--    </mat-card>-->
  </div>

  <div fxFlex></div>
</div>

