@import 'partial/material-theme';

body {
  background-color: rgb(245, 245, 245);
  font-family: 'Montserrat', sans-serif;
}

#dashboard-container {

  .mat-card {
    box-shadow: none;

    border: 1px solid rgba(0, 0, 0, .12);

    mat-icon {
      color: mat-color($app-primary);

      svg {
        fill: mat-color($app-primary);
      }

      svg path {
        fill: mat-color($app-primary);
      }
    }

    mat-card-header {
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      margin-bottom: 10px;
    }

    .mat-card-header-text {
      margin-left: 0px;
      margin-right: 0px;
    }

    .notes {
      opacity: 0.6;
      margin: 10px 0;
      font-size: 12px;

      mat-icon {
        margin-right: 2px;
        color: initial;
      }
    }
  }
}
